<div class="page-header">
    <h3 class="page-title">
        <span class="page-title-icon bg-gradient-info text-white me-2">
            <i class="mdi mdi-content-save"></i>
        </span> Barang Management
    </h3>
    <nav aria-label="breadcrumb">
        <ul class="breadcrumb">
            <li class="breadcrumb-item active" aria-current="page">
                <span></span>Overview <i class="mdi mdi-alert-circle-outline icon-sm text-primary align-middle"></i>
            </li>
        </ul>
    </nav>
</div>

<div class="col-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title mb-4">Tambah Barang</h4>
            <form class="forms-sample" enctype="multipart/form-data" method="POST">
                <div class="form-group">
                    <label for="namaBarang">Nama Barang</label>
                    <input type="text" class="form-control" name="nama_barang" id="nama_barang"
                        placeholder="Nama Barang">
                </div>
                <div class="form-group">
                    <label for="jenisBarang">Jenis Barang</label>
                    <input type="text" class="form-control" name="jenis_barang" id="jenis_barang"
                        placeholder="Jenis Barang">
                </div>
                <div class="form-group">
                    <label for="stokBarang">Stok Barang</label>
                    <input type="number" class="form-control" name="stok_barang" id="stok_barang"
                        placeholder="Stok Barang">
                </div>
                <div class="form-group">
                    <label>Gambar Barang</label>
                    <input type="file" class="form-control" name="foto_barang">
                </div>
                <button type="submit" class="btn btn-gradient-info me-2">
                    Submit
                </button>
                <a  href={{ url_for('show_barang')}} type="button" class="btn btn-light">Cancel</a>
            </form>
        </div>
    </div>
</div>