<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Peminjaman Alat Desa</title>
    <!-- plugins:css -->
    <link rel="stylesheet"
        href={{ url_for('static', filename='backend/assets/vendors/mdi/css/materialdesignicons.min.css') }}>
    <link rel="stylesheet" href={{ url_for('static', filename='backend/assets/vendors/css/vendor.bundle.base.css') }}>
    <!-- endinject -->
    <!-- Plugin css for this page -->
    <!-- End plugin css for this page -->
    <!-- inject:css -->
    <!-- endinject -->
    <!-- Layout styles -->
    <link rel="stylesheet" href={{ url_for('static', filename='backend/assets/css/style.css') }}>
    <!-- End layout styles -->
    <link rel="shortcut icon" href={{ url_for('static', filename='backend/assets/images/village.png') }} />
</head>
<body>