<div class="page-header">
    <h3 class="page-title">
        <span class="page-title-icon bg-gradient-primary text-white me-2">
            <i class="mdi mdi-android-debug-bridge"></i>
        </span> Peminjaman Management
    </h3>
    <nav aria-label="breadcrumb">
        <ul class="breadcrumb">
            <li class="breadcrumb-item active" aria-current="page">
                <span></span>Overview <i class="mdi mdi-alert-circle-outline icon-sm text-primary align-middle"></i>
            </li>
        </ul>
    </nav>
</div>

<div class="col-lg-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body" style="overflow-x:auto;">
            <a href={{ url_for('add_barang')}} type="button" class="btn-sm btn-primary float-end mb-4">
                <i class="mdi mdi-bookmark-plus-outline"></i>
            </a>
            <h4 class="card-title">Peminjaman Table</h4>
            <table class="table table-striped">
                <thead>
                    <tr class="text-center">
                        <th> No </th>
                        <th> Nama Barang </th>
                        <th> Nama Peminjam </th>
                        <th> Jumlah </th>
                        <th> Tanggal Peminjaman </th>
                        <th> Status </th>
                        <th> Actions </th>
                    </tr>
                </thead>
                <tbody>
                    {% for peminjaman in peminjamans %}
                    <tr class="text-center">
                        <td> {{ loop.index }} </td>
                        {% for barang in barangs %}
                        {% if peminjaman.id_barang == barang.id_barang %}
                        <td> {{ barang.nama_barang }} </td>
                        {% endif %}
                        {% endfor %}
                        {% for user in users %}
                        {% if peminjaman.id_user == user.id %}
                        <td> {{ user.name }} </td>
                        {% endif %}
                        {% endfor %}
                        <td> {{ peminjaman.qty }} </td>
                        <td> {{ peminjaman.tgl_pinjam }} </td>
                        {% if peminjaman.status == False %}
                        <td class="text-center">
                          <label class="badge badge-gradient-danger">
                            Belum Dikembalikan
                          </label>
                        </td>
                        {% elif peminjaman.status == True %}
                        <td class="text-center">
                          <label class="badge badge-gradient-success">
                            Sudah Dikembalikan
                          </label>
                        </td>
                        {% endif %}
                        <td>
                            <!-- update -->
                           <a href="{{ url_for('edit_status', id_peminjaman=peminjaman.id_peminjaman ) }}" type="submit" class="btn btn-dark btn-rounded btn-sm link-light">
                               <i class="mdi mdi-table-edit"></i>
                           </a>
                           <!-- delete -->
                           <a href="{{ url_for('delete_peminjaman', id_peminjaman=peminjaman.id_peminjaman ) }}" type="submit" class="btn btn-danger btn-rounded btn-sm" onclick="return confirm('Apakah anda ingin menghapus peminjaman ke - {{ loop.index }}?')" title="Delete Peminjaman">
                               <i class="mdi mdi-window-close"></i>
                           </a>
                       </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>