<!-- templates:partials/_header.html -->
{% include "./partials/_header.html" %}
<!-- templates -->

<div class="container-scroller">
  <!-- templates:partials/_navbar.html -->
  {% include "./partials/_navbar.html" %}
  <!-- templates -->

  <div class="container-fluid page-body-wrapper">
    <!-- templates:partials/_sidebar.html -->
    {% include "./partials/_sidebar.html" %}
    <!-- templates -->

    <div class="main-panel">
      <div class="content-wrapper">
          
        <!-- templates:partials/_edit-user.html -->
        {% include "./partials/_edit-user.html" %}
        <!-- templates -->
        
      </div>
      <!-- content-wrapper ends -->
      <!-- templates:partials/_footer.html -->
      {% include "./partials/_footer.html" %}
      <!-- templates -->
    </div>
    <!-- main-panel ends -->
  </div>
  <!-- page-body-wrapper ends -->

<!-- templates:partials/_end.html -->
{% include "./partials/_end.html" %}
<!-- templates -->